<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          <%= @order.member.name %>
        </h1>
        <h3>Total Amount: <%= @order.orders_items.sum(:total_price) %></h3>
        <%= link_to "Print", "#", class: "btn btn-primary", id: "btnPrint" %>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Order Details</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr class="tb-head">
                      <th>Category</th>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @order.orders_items.each do |ot| %>
                    <tr>
                      <td><%= ot.item.category.name %></td>
                      <td><%= ot.item.name %></td>
                      <td><%= ot.quantity %></td>
                      <td><%= ot.unit_price %></td>
                      <td><%= ot.total_price %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  
    <div class="print-body hide" id="pbody">
        <div class="ticket">
            <!-- <img src="me-logo.jpg" alt="Logo"> -->
            <p class="centered">Modern Enterprises
                <br>Main Lalazar Colony - Sarwar Chowk
                <br>0302-5639014</p>
            <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr class="tb-head">
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Unit Price</th>
                      <th>total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @order.orders_items.each do |ot| %>
                    <tr>
                      <td><%= ot.item.name %></td>
                      <td><%= ot.quantity %></td>
                      <td><%= ot.unit_price %></td>
                      <td><%= ot.total_price %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <b>Total :<%= @order.orders_items.sum(:total_price) %></b><br>
            <p class="centered">Thanks for your purchase!
                </p>
                <p class="centered">بل کے بغیر سامان واپس ہر گز نہیں ہو گا-</p>
                <p class="centered">خریدا ہوا سامان 7 یوم کے اندر واپس یا تبدیل ہو گا۔ </p>
        </div>
        <script src="script.js">
        </script>
    </div>
</html>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });

      const $btnPrint = document.querySelector("#btnPrint");
      $btnPrint.addEventListener("click", () => {
          printDiv();
      });

      function printDiv() 
      {

        var divToPrint=document.getElementById('pbody');

        var newWin=window.open('','Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
        newWin.print();

        newWin.document.close();

        setTimeout(function(){newWin.close();},10);

      }

    });
  </script>
</body>
